:root {
  --text-color: #1a1c20;
  --link-color: #4a76ee;
  --background-color: #eeeff1;
  --hfu-green: #007A3D;
  --red-text: #dd0202;
  --grey-text: #c7c7c7;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}
.page-container {
  flex: 1;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  padding-bottom: 30px;
}
a {
  text-decoration: none;
  color: var(--link-color);
}
h1 {
  font-size: 45px;
}
h2 {
  font-size: 36px;
}


/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 80px;
}
nav .nav-left{
  color: var(--text-color);
  background-image: url('HFU.png');
  width: 30%;
  height: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 25px;
  font-weight: 400;
  margin-top: 20px;
}
nav .nav-right a {
  color: var(--text-color);
  padding: 5px 15px;
  margin-right: 10px
}
nav .nav-right .active {
  background-color: var(--text-color);
  color: var(--background-color);
  border-radius: 5px;
}
nav .nav-right .active:hover {
  background: var(--background-color);
  color: var(--text-color);
}
nav .nav-right a:hover {
  border: 2px dotted var(--text-color);
  border-radius: 5px;
}

/* FOOTER */
.footer {
  background-color: #c2c2c2;
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
  padding: 5px 0;
  width: 100%;
}






/* HERO INDEX */
.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.hero-section .headshot img {
  width: 450px;
  border: 1px dashed;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin-left: 150px;
  flex:1;
}

ol>li {
  margin-top: 10px;
}
.container{
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto -50px auto;
  max-width: 1400px;
  width: 100%;
  padding-left: 50px;
}




/* PROFESSOR */
.prof-section,
.document-section{
  display: grid;
  grid-column: auto;
  padding: 0 50px;
  margin-bottom: 50px;
  gap: 40px;
}

select {
  height: 30px;         /* Increased height */
  font-size: 18px;      /* Larger text */
  padding: 5px 10px;    /* Extra space inside */
  border-radius: 5px;   /* Optional: rounded corners */
  border: 1px solid #ccc;
}





/* DOCUMENTS */
.box-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: start;
}

.box-container-right h3{
  margin-top: 0;
}

.box-container-left {
  border-right: 3px dashed black;
  margin-right: 20px;
}

.red-text {
  color: var(--red-text);
  text-decoration: underline;
}
.red-warning{
  color: var(--red-text);
  font-size: 18px;
}

.text-highlight{
  color: var(--hfu-green);
  text-decoration:underline;
}
.text-crossing{
  text-decoration: line-through;
  color: var(--grey-text);
}